@charset "UTF-8";

body {
  font-family: 'Raleway' ,sans-serif;
}

.bolt__h2 {
  font-size: 24px;
}

.description {
  line-height: 25px;
}

a {
  display: inline-block;
}

.header,.main,.footer {
  width: 100%;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 1;
}

.header .header__inner {
  padding: 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__inner i, .header__inner a {
  display: inline-block;
}

.header .bolt__logo {
  color: #4e4e4e;
}

.bolt__btn {
  font-size: 12px;
  color: #fff;
  padding: 14px 12px;
  background-color: #74cfae;
  text-decoration: none;
  transition: all .3s;
}

.bolt__btn:hover {
  color: #333;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.main {
  padding-top: 78px;
}

.title {
  background-color: #f2f2f2;
}

.inner.title__inner {
  padding: 250px 0 250px 0;
  text-align: center;
}

.title .title__theme {
  font-size: 90px;
  font-weight: 700;
  font-family: 'Lato',sans-serif; 
  color: #74cfae;
}

.title .title__content {
  margin-top: 20px;
  font-size: 30px;
  color: #c0c0c0;
}

.profile {
  background-color: #74cfae;
}

.profile .profile__inner {
  text-align: center;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__content {
  display: inline-block;
  color: #fff;
}

.profile__content.img {
  vertical-align: bottom;
}

.profile__content.text {
  width: 65%;
}

.profile.description {
  margin-top: 35px;
  font-size: 20px;
}

.work {
  background-color: #f2f2f2;
}

.inner.work__inner {
  padding: 60px 0;
  text-align: center;
}

.work__img a {
  display: inline-block;
  margin: 80px 100px 0 0px;
  opacity: 0.7;
  transition: all .3s
}

.work__img a:hover {
  opacity: 1;
}

.work__img {
  margin: 40px 0 0 0;
  font-size: 0;
}

.work__img a:nth-child(-n+3) {
  margin-top: 0;

}

.work__img a:nth-child(3n) {
  margin-right: 0;
}


.work__text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

.work__form {
  display: inline-block;
}

.work.description {
  width: 45%;
  margin-right: 90px;
}

.skill {
  background-color: #4e4e4e;
}

.skill {
  color: #fff;
}

.inner.skill__inner {
  padding: 70px 0 100px 0;
  text-align: center;
}

.skill__content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-size: 16px;
}

.skill__content figure {
  display: inline-block;
  margin-left: 180px;
}

.skill__content figure:first-child {
  margin-left: 0;
}

.sns {
  background-color: #f2f2f2;
}

.inner.sns__inner {
  padding: 200px 0 200px 0;
  text-align: center;
  font-size: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sns__inner a {
  display: inline-block;
  color: #74cfae;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  width: 185px;
  padding: 20px 0 20px 0;
  transition: all .3s;
}

.sns__inner i {
  font-size: 48px;
}

.sns__inner a:hover {
  background-color: #fff;
}

.footer {
  background-color: #74cfae;
  color: #fff;
  padding: 20px 0 25px 0;
  text-align: right;
}